doctype html
html
    head
     link(rel='stylesheet',href='/stylesheets/index.css')
    body
      div.whole
        table(id="table")
            thead
                tr
                    th Name
                    th Price
                    th Quantity
                    th Total
            tbody
                each emp in billList
                    tr
                       td= emp.name
                       td= emp.price
                       td= emp.quantity
                       td= emp.total
                tr
                    th Total
                    td= totals 
 
        
